/* #baby-ga,
#baby-age {
    display: inline-block;
    background-color: var(--bs-tertiary-bg);
} */

#baby-age,
#baby-record-contents {
    margin-top: 0.5rem;
}

#baby-ga-buttons,
#baby-age-buttons {
    display: inline-block;
    /* margin-left: 10px; */
}
/* 
#baby-date-wrapper {
    margin-top: 0.5rem;
}

#baby-date {
    margin-top: 0.5rem;
} */

#baby-record-wrapper form {
    padding: 1rem;
    border: 1px solid var(--bs-light-border-subtle);
    box-shadow: 3px 3px 3px rgba(var(--bs-body-color-rgb),.15)!important;
}

#baby-record-wrapper table {
    margin-top: 1rem;
}