body {
    background-color: var(--bs-light);
}

section {
    background-color: var(--bs-light-bg-subtle);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px rgba(var(--bs-body-color-rgb), 0.15);
    margin-bottom: 1rem;
}

section > h2, section > h3 {
    margin-top: 0.5rem;
}

#main-container {
    margin-top: 4.5rem;
}

.unobvious-button {
    background-color: transparent;
    border: none;
    cursor: pointer;    
    user-select: none;
    box-sizing: border-box;
    white-space: nowrap;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: initial;
}

.left-side-mark {
    margin-top: 1rem;
    border-left: 1rem solid var(--bs-primary);
    padding-left: 1rem;
}

.page-item form input{
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
}
