.switcher-buttons {
    /* display: inline-block; */
    border-radius: 5px;
    padding: 4px 4px;
    background-color: var(--bs-info-bg-subtle);
    color: var(--bs-info-text-emphasis);
}

.switcher-buttons:hover {
    cursor: pointer;
}

.switcher-button.active-button {
    background-color: var(--bs-info);
    color: var(--bs-info-text-emphasis);
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(var(--bs-body-color-rgb),.3)!important;
    font-weight: bold;
}

.switcher-button {
    padding: 6px 6px;
}

.switcher-content.active-content {
    display: inline-block;
    padding: 5px 4px;
}

.switcher-content {
    display: none;
}