<div id="baby-record-wrapper" class="switcher" data-switcher-name="babycare">
    <div class="switcher-buttons d-inline-flex" id="baby-record-buttons">
        <span class="switcher-button{% if babycare_active == 'baby-feeding' %} active-button{% endif %}" data-target="baby-feeding">喂奶量</span>
        {# <span class="switcher-button{% if babycare_active == 'breast-bumping' %} active-button{% endif %}" data-target="breast-bumping">母乳收集</span> #}
        <span class="switcher-button{% if babycare_active == 'body-temperature' %} active-button{% endif %}" data-target="body-temperature">体温</span>
        <span class="switcher-button{% if babycare_active == 'growth-data' %} active-button{% endif %}" data-target="growth-data">生长数据</span>
    </div>
    <div class="switcher-contents" id="baby-record-contents">
        <div class="switcher-content{% if babycare_active == 'baby-feeding' %} active-content{% endif %} container" id="baby-feeding">
            <div>
                <form action="{% url 'babycare:fetch_submit_feeding' %}" method="post">
                {{ feeding_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/feedings_list_table.html' %}
            </div>
        </div>
        <!-- <div class="switcher-content{% if babycare_active == 'breast-bumping' %} active-content{% endif %} container" id="breast-bumping">
            <div>
                <form action="{% url 'babycare:fetch_submit_breast_bumping' %}" method="post">
                {{ breast_bumping_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>收集时间</th>
                            <th>收集量</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for breast_bump in breast_bumps %}
                            <tr>
                                <td>{{ breast_bump.date|date:"Y年m月d日 H:i" }}</td>
                                <td>{{ breast_bump.amount }} ml</td>
                                <td>{{ breast_bump.note }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">暂无母乳收集记录</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="switcher-content{% if babycare_active == 'body-temperature' %} active-content{% endif %} container" id="body-temperature">
            <div>
                <form action="{% url 'babycare:fetch_submit_body_temperature' %}" method="post">
                {{ body_temperature_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/body_temperatures_list_table.html' %}
            </div>
        </div>
        <div class="switcher-content{% if babycare_active == 'growth-data' %} active-content{% endif %} container" id="growth-data">
            <div>
                <form action="{% url 'babycare:fetch_submit_growth_data' %}" method="post">
                {{ growth_data_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/growth_datas_list_table.html' %}
            </div>
        </div>
    </div>
</div>