<div id="baby-record-wrapper" class="switcher" data-switcher-name="babycare">
    <div class="switcher-buttons d-inline-flex" id="baby-record-buttons">
        <span class="switcher-button{% if babycare_active == 'baby-feeding' %} active-button{% endif %}" data-target="baby-feeding">喂奶量</span>
        <span class="switcher-button{% if babycare_active == 'body-temperature' %} active-button{% endif %}" data-target="body-temperature">体温</span>
        <span class="switcher-button{% if babycare_active == 'growth-data' %} active-button{% endif %}" data-target="growth-data">生长数据</span>
    </div>
    <div class="switcher-contents" id="baby-record-contents">
        <div class="switcher-content{% if babycare_active == 'baby-feeding' %} active-content{% endif %} container" id="baby-feeding">
            <div>
                <form action="{% url 'babycare:fetch_submit_feeding' %}" method="post">
                {{ feeding_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/feedings_list_table.html' %}
            </div>
            <div class="p-1"><a href="{% url 'babycare:feedings_list' baby_date_id=baby_date.id %}">查看所有</a></div>
        </div>
        <div class="switcher-content{% if babycare_active == 'body-temperature' %} active-content{% endif %} container" id="body-temperature">
            <div>
                <form action="{% url 'babycare:fetch_submit_body_temperature' %}" method="post">
                {{ body_temperature_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/body_temperatures_list_table.html' %}
            </div>
            <div class="p-1"><a href="{% url 'babycare:body_temperatures_list' baby_date_id=baby_date.id %}">查看所有</a></div>
        </div>
        <div class="switcher-content{% if babycare_active == 'growth-data' %} active-content{% endif %} container" id="growth-data">
            <div>
                <form action="{% url 'babycare:fetch_submit_growth_data' %}" method="post">
                {{ growth_data_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">提交</button> 
                </form>
            </div>
            <div>
                {% include 'babycare/includes/growth_datas_list_table.html' %}
            </div>
            <div class="p-1"><a href="{% url 'babycare:growth_datas_list' baby_date_id=baby_date.id %}">查看所有</a></div>
        </div>
    </div>
</div>