<table class="table table-striped">
    <thead>
        <tr>
            <th>测量时间</th>
            <th>体温 (°C)</th>
            <th>方式</th>
        </tr>
    </thead>
    <tbody>
    {% for body_temp in body_temperatures %}
        <tr>
            <td>{{ body_temp.measure_at|date:"Y-m-d H:i" }}</td>
            <td>{{ body_temp.temperature }}{% if body_temp.notes %}<i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ body_temp.notes }}"></i>{% endif %}</td>
            <td>{{ body_temp.get_measurement_display }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">暂无体温记录</td>
        </tr>
    {% endfor %}
    </tbody>
</table>