{% extends 'dashboard/base.html' %}

{% block main %}
<section>
    <h2>体温</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>测量时间</th>
                <th>体温 (°C)</th>
                <th>测量方式</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
        {% for body_temp in body_temperatures %}
            <tr>
                <td>{{ body_temp.date|date:"Y年m月d日 H:i" }}</td>
                <td>{{ body_temp.temperature }}</td>
                <td>{{ body_temp.get_measurement_display }}</td>
                <td>{{ body_temp.notes }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">暂无体温记录</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'dashboard/includes/pagination.html' %}
</section>
{% endblock %}

{% block aside %}
{% endblock %}