{% extends 'dashboard/base.html' %}

{% block title %}成长记录{% endblock %}

{% block main %}
<section>
    <h2>喂奶量</h2>
    {% include 'babycare/includes/feedings_list_table.html' %}
    {% if feedings_total %}
    <div class="p-1 my-2">当日喂奶总量 {{ feedings_total.amount__sum }} ml</div>
    {% endif %}
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?date={{ previous_day|date:'Y-m-d' }}">{{ previous_day|date:'m-d' }}</a>
        </li>
        <li class="page-item active">
            <form target="#" method="get" class="auto-submit"><input type="date" name="date" value="{{ feed_date|date:'Y-m-d' }}"></form>
        </li>
        {% if next_day %}
        <li class="page-item">
            <a class="page-link" href="?date={{ next_day|date:'Y-m-d' }}">{{ next_day|date:'m-d' }}</a>
        </li>
        {% endif %}
    </ul>
</section>
{% endblock %}

{% block aside %}
{% endblock %}