{% extends "dashboard/base.html" %}

{% block title %}主页{% endblock %}

{% block main %}
<div id="baby-date-request-buttons">
    <a class="btn btn-primary m-1" href="{% url 'babycare:create_baby_date' %}"><i class="bi bi-person-add"></i> 创建宝宝信息</a>
    <a class="btn btn-info m-1" href="{% url 'babycare:baby_date_relate_request' %}"><i class="bi bi-link"></i> 关联现有宝宝</a>
</div>
{% if to_approve %}
<div class="m-3 p-3">
    {% for relation in to_approve %}
    <div>
        <div class="input-group">
            <form class="form-control" action="{% url 'babycare:approve_baby_date_relate_request' %}" method="post">
                <legend class="fs-6">
                    {{ relation.request_by.username }} 申请关联 {{ relation.baby_date.nickname }}
                </legend>
                <select name="status" class="form-select" id="inputGroupSelect04">
                    <option selected>选择处理方式...</option>
                    <optgroup label="关联为">
                        <option value="2">监护人</option>
                        <option value="3">亲人</option>
                        <option value="4">关心的人</option>
                    </optgroup>
                    <optgroup label="或">
                        <option value="1">拒绝</option>
                    </optgroup>
                </select>
                <input type="hidden" name="baby_relation_id" value="{{ relation.id }}">
                {% csrf_token %}
                <button class="my-1 btn btn-outline-secondary" type="submit">提交</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% for baby_date_id, nickname, last_feedings_amount, last_feeding_date, last_body_temperature, last_body_temperature_date, last_growth_data in babies %}
<div class="row font-monospace my-3">
    <h2>{{ nickname }}</h2>
    <a class="col-lg-4 col-sm-6 col-8 m-lg-3 mb-sm-3 my-3 mx-auto link-info link-offset-2 link-underline link-underline-opacity-25" href="{% url 'babycare:feedings_list' baby_date_id=baby_date_id %}">
    <div class="rounded-4 bg-info text-info-emphasis h3 border border-3 border-primary-subtle shadow p-4">
        {% if last_feedings_amount %}
        <div class="text-start fs-6">上一次全天喂奶量:</div>
        <div class="text-start fs-2 fw-bold py-3"><i class="bi bi-droplet"></i>{{ last_feedings_amount|floatformat:"0" }}mL</div>
        <div class="text-end fs-6">{{ last_feeding_date|date:"Y-m-d" }}</div>
        {% else %}
        <div class="text-start fs-6">没有喂奶记录</div>
        {% endif %}
    </div>
    </a>
    <a class="col-lg-4 col-sm-6 col-8 m-lg-3 mb-sm-3 my-3 mx-auto link-info link-offset-2 link-underline link-underline-opacity-25" href="{% url 'babycare:body_temperatures_list' baby_date_id=baby_date_id %}">
    <div class="rounded-4 bg-info text-info-emphasis h3 border border-3 border-primary-subtle shadow p-4">
        {% if last_body_temperature %}
        <div class="text-start fs-6">上一次体温:</div>
        <div class="text-start fs-2 fw-bold py-3"><i class="bi bi-thermometer-half"></i>{{ last_body_temperature.temperature|floatformat:"1" }}°C</div>
        <div class="text-end fs-6">{{ last_body_temperature_date|date:"Y-m-d" }}</div>
        {% else %}
        <div class="text-start fs-6">没有体温记录</div>
        {% endif %}
    </div>
    </a>
<!-- 
    <div class="border border-primary-subtle shadow col-lg-3 col-sm-6 col-8 m-lg-3 mb-sm-3 my-3 mx-auto p-3">
        <div class="text-center h3">
            <a href="{% url 'babycare:growth_datas_list' baby_date_id=baby_date_id %}">生长数据</a>
        </div>
    </div> -->
</div>
<hr>
{% endfor %}
{% endblock %}

{% block aside %}
{% endblock %}