/* #task-calendar {
    margin-top: 20px;
    padding: 5px;
    max-width: 300px;
} */

ul#task-calendar-list {
    margin: .5rem 0;
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    /* background-color: var(--bs-light-bg-subtle);
    border-radius: 5px;
    border: 1px solid var(--bs-light-border-subtle); */
}


/* li.task-calendar-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

li.task-calendar-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
} */

li.task-calendar-item {
    padding: 5px;
    margin-top: 2px;
    border: 1px solid transparent;
    border-radius: 5px;
}

li.task-calendar-item.task-calendar-completed {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success-text-emphasis);
}

li.task-calendar-item.task-calendar-outdated {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning-text-emphasis);
}

li.task-calendar-item.task-calendar-active {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
}

li.task-calendar-item.task-calendar-coming {
    background-color: var(--bs-info-bg-subtle);
    color: var(--bs-info-text-emphasis);
}

.task-status {
    cursor: pointer;
}

.del-task {
    cursor: pointer;
}