{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .left-side-mark {
            margin-top: 1rem;
            border-left: 1rem solid var(--bs-primary);
            padding-left: 1rem;
        }

        .item-cate-list form {
            margin-top: 1rem;
            line-height: 2.5rem;
        }

        .slight-padding {
            padding: 0.5rem 0;
        }

        .slight-margin {
            margin-top: 0.5rem;
        }

    </style>
    {% block style_links %}
    {% endblock %}
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/switcher.css' %}">
    <link rel="stylesheet" href="{% static 'css/task_calendar/task_calendar.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <main>
                    {% block main %}
                    {% endblock %}
                </main>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside>
                    {% block aside %}
                    <section id="task-calendar" class="slight-margin">
                        <h3>近期安排</h3>
                        <div><button type="button" id="create-task-calendar" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-task-calendar-modal">+ 添加安排</button></div>
                        {% if task_calendars %}
                            {% include "task_calendar/includes/task_list_simple.html" %}
                        {% else %}
                            <div class="lead">暂无安排</div>
                        {% endif %}
                        <div class="modal fade" tabindex="-1" id="create-task-calendar-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">新增安排</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'create_task' %}" method="post">
                                        {{ task_form.as_p }}
                                        {% csrf_token %}
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                    <button id="task-calendar-create-submit" type="button" class="btn btn-primary">确认</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="shopping-list" class="slight-margin">
                        <h3>清单</h3>
                        <ul id="shopping-lists">
                            {% for list in shopping_lists %}
                            <li class="shopping-list"><a href="{% url 'shopping_list_detail' list.id %}">{{list.name}}</a></li>
                            {% empty %}
                            <li>清单为空</li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endblock %}
                </aside>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/switcher.js' %}"></script>
    <script src="{% static 'js/task_calendar/task_calendar.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>